<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lista_7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @using Microsoft.AspNetCore.Http
        @inject IHttpContextAccessor HttpContextAccessor
        @{ 
            if(HttpContextAccessor.HttpContext.Session.GetString("Id") == null && HttpContextAccessor.HttpContext.Session.GetString("Logouted") == null)
            {
                HttpContextAccessor.HttpContext.Session.SetString("Logouted","Yep");
                <script>
                    window.location.href = "/Account/Logout";
                </script>
            }
        }
        <nav class="navbar  navbar-dark bg-dark text-white navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">lista_7</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar-dark bg-dark text-white collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 text-white">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session.GetString("Name") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white">Loged: @HttpContextAccessor.HttpContext.Session.GetString("Name")</a>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "User" && HttpContextAccessor.HttpContext.Session.GetString("Id") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Grades" asp-action="StudentIndex" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetString("Id")"></a>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Tools
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Subject" asp-action="Index">Subjects</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Accounts">Accounts</a>
                                    <a class="dropdown-item" asp-controller="Grades" asp-action="Index">Grades</a>
                                    <a class="dropdown-item" asp-controller="GradesScale" asp-action="Index">GradesScale</a>
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="Addrole">AddRole</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Teacher")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Teacher Tools
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Students">Students</a>
                                    <a class="dropdown-item" asp-controller="Grades" asp-action="Index">Grades</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - lista_7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
